@model List<EmployeeManagement.Models.EmployeeModel>

<h1>Manage Employee</h1>

<div class="tab-content">
    <table class="table table-bordered table-hover" id="emptable">
        <thead class="table-header">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Date of Birth</th>
                <th>Joining Date</th>
                <th>Gender</th>
                <th>Role</th>
                <th>Skills</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Lastname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Dob)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.JoiningDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SelectedRole)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SelectedSkills)
                    </td>
                    <td>
                        @Html.ActionLink("", "GetEmployeeById", new { id = item.EmployeeId }, new { @class = "fa fa-edit", title = "Edit" })
                        @Html.ActionLink("", "", new { id = item.EmployeeId }, new { @class = "fa fa-trash", title = "Delete" })
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts
{
    <script src="~/js/ManageEmployee.js"></script>
}
